.course-content ul.turforlag {margin:0;}
.course-content ul.turforlag li.section {list-style: none;margin:0 0 5px 0;padding:0;}
.course-content ul.turforlag li.section .content {margin:0 40px;}
.course-content ul.turforlag li.section .left {float:left;}
.course-content ul.turforlag li.section .right {float:right;}
.course-content ul.turforlag li.section .left,
.course-content ul.turforlag li.section .right {width:40px;text-align:center;padding: 6px 0;}
.course-content ul.turforlag li.section .right img.icon { padding: 0 0 4px 0;}
.course-content ul.turforlag li.section .left .section-handle img.icon { padding:0; vertical-align: baseline; }


/* TABS */
#tabs {
    min-height: 550px;
    margin-top: 15px;
}

.turforlag_tabs {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    z-index: 2;
    max-width: 150px;
}

.turforlag_tabs > li {
    display: block;
    line-height: 16px;
    border: 1px solid #c8e0d7;
    border-right: none;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: #edf1f0;
}

.turforlag_tabs > li:hover {
    border-color: #000000;
}

/* Active tab */
.turforlag_tabs > li.ui-state-active {
    background-color: #ffffff;
    border-color: #336633;
    border-bottom-color: #000000;
    border-right: 1px solid #ffffff;
    margin-left: 0;
    margin-right: -1px;
}

.turforlag_tabs li a {
    display: block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: normal;
    color: #000000;
}

/* SUB TABS */
.turforlag_subtabs {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    display: block;
    float: left;
    position: relative;
    list-style-type: none;
    margin-left: 20px;
}

.turforlag_subtabs li {
    display: block;
    border: 1px solid #7aa77d;
    margin-bottom: 10px;
    padding: 0;
    width: 290px;
    height: 22px;
    position: relative;
}

.turforlag_subtabs li:hover {
    border-color: #000000;
}

.turforlag_subtabs li a {
    display: block;
    padding: 0 5px;
    line-height: 22px;
    text-decoration: none;
}

/* Active sub tabs */
.turforlag_subtabs li.ui-state-active {
    border-top-color: #000000;
    border-bottom-color: #000000;
    border-right-color: #ffffff;
    background-color: #c8e0d7;
}

.turforlag_subtabs > li.ui-state-active:after {
    display: block;
    content: "";
    width: 13px;
    height: 24px;
    position: absolute;
    top: -1px;
    right: -13px;
    background: url([[pix:format_turforlag|selectedmenu]]) no-repeat center center;
}

/* CONTENT */
.turforlag_cf_content {
    display: block;
    position: relative;
    width: 700px;
    min-height: 550px;
    border-style: solid;
    border-width: 1px;
    float: left;
}

.turforlag_cf_content h3 {
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 40px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19.5px;
    color: #336633;
}

/* SUB CONTENT */
.turforlag_cf_subcontent {
    display: block;
    width: 200px;
    border: none;
    float: left;
    position: relative;
}

.turforlag_cf_subcontent ul {
    margin-left: 30px;
}

.turforlag_cf_subcontent ul li a {
    font-family: Arial, Helvetica, sans-serif;
}

/* PROGRESS HIGHLIGHTING */

.turforlag_status_none {

}

.turforlag_status_unstarted a {
    border-left: 5px solid #cc0000;
}

.turforlag_status_inprogress a {
    border-left: 5px solid #ffcc00;
}

.turforlag_status_completed a {
    border-left: 5px solid #336633;
}

.turforlag_cf_tabbackground_image {
    float: left;
}

.turforlag_cf_tabbackground_text {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-left: 170px;
    margin-right: 20px;
}
